body {
    background-color: #DEFCF9;
}

.tableDiv {
    text-align: center;
}

.border_images {
    width: 150px;
    background-size: contain;
}

table {
margin-left: auto;
margin-right: auto;
}

hr {
    border-style: none;
    border-top: 7px dotted red;
    height: 1px;
    width: 10%;
}

img {
    border-radius: 50%;
    width: 100%;
}

.smallImg {
    border-radius: 50%;
    width: 50px;
}

/* h1 {
    color: #FFB100;
} */

.inputElement {
    width: 80%;
}

.cube-container {
perspective: 1000px;
display: flex;
justify-content: center;
}

.cube {
width: 100px;
height: 100px;
padding: 10%;
position: relative;
transform-style: preserve-3d;
animation: spin 8s  linear infinite;
}

#main_h1 {
    color: #FFB100;
    animation-name: titleColor;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes titleColor {
    0% {color: #FFB100}
    25% {color: #CCA8E9;}
    50% {color: #FFB100}
    75% {color: #CCA8E9;}
    100% {color: #FFB100}
}

.front, .back, .right, .left, .top, .bottom {
width: 100px;
height: 100px;
position: absolute;
text-align: -webkit-center;
justify-content: center;
display: flex;
align-items: center;
}

.front {
    background-color: chartreuse;
}

.back {
    background-color: turquoise;
}

.right {
    background-color: yellow;
}

.left {
    background-color: purple;
}

.top {
    background-color: wheat;
}

.bottom {
    background-color: red;
}

.front {
transform: translateZ(50px);
}

.back {
transform: rotateY(180deg) translateZ(50px);
}

.right {
transform: rotateY(90deg) translateZ(50px);
}

.left {
transform: rotateY(-90deg) translateZ(50px);
}

.top {
transform: rotateX(90deg) translateZ(50px);
}

.bottom {
transform: rotateX(-90deg) translateZ(50px);
}

/* background-color: red;
background-color: yellow; */

@keyframes spin {
from {
    transform: rotate3d(1, 1, 1, 0deg);
}
to {
    transform: rotate3d(1, 1, 1, 360deg);
}
}

.neon {
color: blue;
text-shadow: 0 0 10px green, 0 0 20px blue, 0 0 30px purple, 0 0 40px red, 0 0 50px white, 0 0 60px orange, 0 0 70px cyan;
}
